<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="{% if names|length == 1 %}{% for n in names %}{{n}}{% endfor %} doesn't give a fuck.{% elif names|length == 2 %}{% for n in names %}{% if forloop.last %}and {{n}}{% else %}{{n}} {% endif %}{% endfor %} don't give a fuck.{% else %}{% for n in names %}{% if forloop.last %}and {{n}}{% else %}{{n}}, {% endif %}{% endfor %} don't give a fuck.{% endif %}" />
  <title>{{names|length}} People Don't Give A Fuck</title>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div id="body">
    <img src="/static/img/sowhat.png"></img>
    <form method="POST">
    <p class="names">
      {% if names|length == 1 %}
      {% for n in names %}{{n}}{% endfor %} doesn't give a fuck.
      {% elif names|length == 2 %}
      {% for n in names %}{% if forloop.last %}and {{n}}{% else %}{{n}} {% endif %}{% endfor %} don't give a fuck.
      {% else %}
      {% for n in names %}{% if forloop.last %}and {{n}}{% else %}{{n}}, {% endif %}{% endfor %} don't give a fuck.
      {% endif %}
    </p>
    {% if name_not_provided %}
    <p class="warning">Please provide your name</p>
    {% endif %}
    <p>Your name: <input type="text" name="name"> <button>I don't give a fuck!</button></p>
    </form>
  </div>
</body>
</html>